<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="d-flex justify-content-center py-3">
        <a class="navbar-brand" href="#">PR2</a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="/users">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link active" href="/roles">Роли</a></li>
                <li class="nav-item"><a class="nav-link active" href="/suppliers">Поставщики</a></li>
                <li class="nav-item"><a class="nav-link active" href="/products">Товары</a></li>
                <li class="nav-item"><a class="nav-link active" href="/orders">Заказы</a></li>
                <li class="nav-item"><a class="nav-link active" href="/OrderProducts">Товары в заказе</a></li>
                <li class="nav-item"><a class="nav-link active" href="/Warehouses">Склад</a></li>
                <li class="nav-item"><a class="nav-link active" href="/profile">Профиль</a></li>
            </ul>
</header>

<form action="/logout" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>